<html>
  <head>
      <meta charset="utf-8">
      <title>{{title}}</title>
  </head>
  <body>
      <h1>About Page</h1>
      <p><h1>Title= {{title}}</h1></p>
      <p> {{msg}}</p>
      
  </body>
</html>
